*{margin:0;
padding: 0}

body{
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    background-color: #242424;
    font-family: Roboto;
    overflow: scroll;
}

main{
    display: flex;
    width: 90vw;
    height: 100vh;
    flex-direction: column;
    margin-left: 14vw;
    align-items: center;
    flex-direction: column;
}

main .scrollbar {
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar-track{ 
    background-color: #171717;
    border-radius: 10px;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 15px;
    height: 10px;
    background-color: red;
}

::-webkit-scrollbar-thumb:vertical{
    border-radius: 10px;
    background-color: #242424;
    border: 1px solid #ebe7e7; 
}

.info{
    display: flex;
    min-height: 40%;
    width: 93%;
    background-image: url("../images/cover.jpeg"); 
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sendProfPics{
    display: none;
}

.profInfos{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputProfPic{
    display: none;
}

.profPic{
    height: 45%;
    width: 40%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: static;
    cursor: pointer;
    display: flex;
}

.profPic img{
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: nowrap
}

label{
    margin-top: 1%;
    font-weight: 500;
}

.galery{
    margin-top: 2vh;
    display: flex;
    margin-right: 2vh;
    flex-direction: column;
}

.recomendedLi{
    display: flex;
    flex-direction: row;
}

.card-group{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.card{
    background-color: #242424;
    color: white;
    padding: 1vh;
    flex-grow: 2;
    width: 14vw;
    height: 40vh;
}

.card .deleteButton{
    max-width: 30%
}

.card img{ 
    height: 50%;
}

.card:hover{
    background-color: #545a5c;
    transition: color .15s;
    cursor: pointer;
}

.recomended ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}

.modalPubHidden{
    visibility: hidden;
    z-index: 0;
    display: none;
}

.modalPub{
    background: #2424249d;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    display: flex;
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.modalPubContent{
    width: 70%;
    height: 70%;
    background: #ebe7e7;
    border-radius: 5px;
    display: flex;
}

.modalPubContent .content{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1% ;
}

.modalPubContent .content img{
    width: 100%;
    border-radius: 5px;
}

.modalPubContent .infos{
    display: flex;
    color: #242424;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 1%;
}       

.modalPubContent h3{
    font-weight: 500;
    padding: 0
}

.modalPubContent h4{
    font-weight: 400;
    margin-top: -6%;
    margin-bottom: 12%;
}

button{
    border-radius: 5px;
    border: 1px solid #242424;
}


.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
  }
  
  .loader.show {
    opacity: 1;
  }
  
  .circle {
    background-color: #ebe7e7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
  }
  
  .circle:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  
  .circle:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }